# jupyterlab 확장
jupyterlab-lsp
python-lsp-server[all]
jupyterlab-code-formatter
jupyterlab-latex
jupyterlab-git
jupyter-bokeh
jupyterlab-execute-time

# machine learning library
tslearn
h5py
pandas-profiling
pandas-datareader
torchinfo
torchview
optimum-quanto
pymilvus
gremlinpython
arcadedb-python
FlagEmbedding
plotly
seaborn
bokeh

# LangGraph / LangChain
langgraph
langchain
langchain-core
langchain-huggingface
langchain_community
langchain-huggingface
opensearch-py

# Document processing
docling
docling-core
pdfminer
pdfplumber
pdfkit
pypdf
markdownify

# stock quant
danbi
ta
selenium
backtrader
yfinance
transitions
filterpy
nats-py
dbutils