{%- set install_exec = [] -%}
{%- set gpu_docker = "" -%}
{# ###################### Basic Setting For Master & HA-Master ###################### #}
{{ install_exec.append("server --server https://" + groups['master'][0] + ":6443 --disable=traefik --cluster-cidr=" + k3s_cluster.cluster_cidr) }}
{# ########################## For Develop(calico, svclib) ########################### #}
{%- if k3s_cluster.mode == "develop" -%}
    {{ install_exec.append("--flannel-backend=none --disable-network-policy") }}
    {%- set gpu_docker = "--docker" -%}
{%- endif -%}
{# ############################## For Product(calico) ############################### #}
{%- if k3s_cluster.mode == "product" -%}
    {{ install_exec.append("--flannel-backend=none --disable-network-policy --disable=servicelb") }}
{%- endif -%}
{# #################################### For GPU ##################################### #}
{%- if hostvars[inventory_hostname]['gpu_count'].stdout|int > 0 -%}
    {%- set gpu_docker = "--docker" -%}
{%- endif -%}
{# ######################### Install Command For HA-Master ########################## #}
curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE="644" INSTALL_K3S_VERSION="{{ k3s_cluster.version }}" K3S_TOKEN={{ hostvars[groups['master'][0]]['k3s_token'].stdout }} INSTALL_K3S_EXEC="{{ ' '.join(install_exec) }}" sh -s - {{ gpu_docker }}