services:

  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      # --- DB (Postgres) ---
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: 192.168.24.12
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: n8n
      DB_POSTGRESDB_PASSWORD: ${POSTGRES_PASSWORD}

      # --- Queue mode (Redis) ---
      EXECUTIONS_MODE: queue
      QUEUE_BULL_REDIS_HOST: 192.168.24.12
      QUEUE_BULL_REDIS_PORT: 6379
      QUEUE_BULL_REDIS_PASSWORD: ${REDIS_PASSWORD}
      OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS: "true"

      # --- n8n 필수/권장 ---
      N8N_LISTEN_ADDRESS: ${N8N_LISTEN_ADDRESS:-0.0.0.0}
      N8N_HOST: ${N8N_HOST:-192.168.24.12}
      N8N_PORT: ${N8N_PORT:-5678}
      N8N_PROTOCOL: ${N8N_PROTOCOL:-http}
      WEBHOOK_URL: ${WEBHOOK_URL:-http://192.168.24.20:5678/}
      N8N_EDITOR_BASE_URL: ${N8N_EDITOR_BASE_URL:-http://192.168.24.20:5678}
      N8N_SECURE_COOKIE: ${N8N_SECURE_COOKIE:-false}
      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      GENERIC_TIMEZONE: Asia/Seoul
      TZ: Asia/Seoul

      # # (선택) 외부 도메인/리버스프록시 쓸 때 세팅
      # N8N_HOST: ${N8N_HOST:-localhost}
      # N8N_PORT: 5678
      # N8N_PROTOCOL: ${N8N_PROTOCOL:-http}
      # WEBHOOK_URL: ${WEBHOOK_URL:-http://localhost:5678/}

      # # (선택) 간단 보호(리버스프록시 인증 없을 때)
      # N8N_BASIC_AUTH_ACTIVE: ${N8N_BASIC_AUTH_ACTIVE:-false}
      # N8N_BASIC_AUTH_USER: ${N8N_BASIC_AUTH_USER:-}
      # N8N_BASIC_AUTH_PASSWORD: ${N8N_BASIC_AUTH_PASSWORD:-}
    user: "${UID}:${GID}"
    volumes:
      - /data/volumes/n8n:/home/node/.n8n
    restart: unless-stopped

  n8n-worker:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n-worker
    command: ["worker", "--concurrency=5"]
    environment:
      # main과 동일하게 DB/Queue 설정 필요
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: 192.168.24.12
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: n8n
      DB_POSTGRESDB_PASSWORD: ${POSTGRES_PASSWORD}

      EXECUTIONS_MODE: queue
      QUEUE_BULL_REDIS_HOST: 192.168.24.12
      QUEUE_BULL_REDIS_PORT: 6379
      QUEUE_BULL_REDIS_PASSWORD: ${REDIS_PASSWORD}

      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      GENERIC_TIMEZONE: Asia/Seoul
      TZ: Asia/Seoul

      # (선택) 워커 헬스체크 엔드포인트 활성화
      QUEUE_HEALTH_CHECK_ACTIVE: "true"
    restart: unless-stopped
